In [1]:
import numpy as np
import math
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
from scipy.optimize import differential_evolution

rc = {"font.family" : "serif", 
      "mathtext.fontset" : "stix"}
plt.rcParams.update(rc)
plt.rcParams["font.serif"] = ["Times New Roman"] + plt.rcParams["font.serif"]
matplotlib.rcParams.update({'font.size': 14})

In [26]:
df = pd.read_excel("D:for_optimisation.xlsx")
df.head()

,ticket_name,number_of_stocks,price_for_one_stock,total_price,share_in_portfolio,share_in_index,diff_in_shares
0,NVTK,23,1091.80,25.1114,0.034817,0.0348,0.000017
1,NLMK,70,176.92,12.3844,0.017171,0.0156,0.001571
2,AFKS,3,2375.00,7.1250,0.009879,0.0081,0.001779
3,RUAL,29,422.90,12.2641,0.017004,0.0141,0.002904
4,TCSG,9,2968.50,26.7165,0.037042,0.0340,0.003042

In [38]:
price_for_stock = df.price_for_one_stock
tikets = df.ticket_name
share_in_imoex = df.share_in_index

In [28]:
df.number_of_stocks.min(), df.number_of_stocks.max()

(2, 70)

In [29]:
df.shape

(32, 7)

In [ ]:
money_to_achive = 1_000_000

In [158]:
def minimize_foo(x):
    x = np.round(x, 0)
    df_for_opt = pd.DataFrame({
        'ticket_name':tikets,
        'price_for_one_stock':price_for_stock,
        'share_in_index':share_in_imoex,
        'number_of_stocks':x
    })
    df_for_opt['total_price'] = df_for_opt.price_for_one_stock * df_for_opt.number_of_stocks
    price_of_portfolio = df_for_opt['total_price'].sum()
    df_for_opt['share_in_portfolio'] = df_for_opt['total_price']/price_of_portfolio
    df_for_opt['diff_in_shares'] = np.abs(df_for_opt.share_in_index-df_for_opt['share_in_portfolio'])
    crit = df_for_opt['diff_in_shares'].sum()
    crit = df_for_opt['diff_in_shares'].sum()+np.abs(1_000_000-price_of_portfolio)/1_000_000
    return crit

max_of_stocks = 300
bounds = [(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks)]

In [172]:
result = differential_evolution(minimize_foo, bounds, 
                                strategy='best1bin', maxiter=1000, popsize=125, tol=0.01, mutation=(0.4, 1.1), recombination=0.7,
                                x0=df.number_of_stocks)

In [173]:
result

 message: Optimization terminated successfully.
 success: True
     fun: 0.21193217181887813
       x: [ 5.859e+01  9.339e+01 ...  2.256e+00  2.172e+01]
     nit: 370
    nfev: 1484033

In [174]:
res_arr = np.round(result.x,0)
res_arr

array([59., 93.,  7., 36., 13., 36., 58., 44., 34.,  3.,  1.,  5., 34.,
        2., 13.,  3., 10., 25.,  7., 34., 87., 16.,  4.,  2., 97., 14.,
        5.,  2.,  7., 43.,  2., 22.])

In [175]:
df_for_check = pd.DataFrame({
        'ticket_name':tikets,
        'price_for_one_stock':price_for_stock,
        'share_in_index':share_in_imoex,
        'number_of_stocks':res_arr
    })

In [176]:
df_for_check['total_price'] = df_for_check.price_for_one_stock * df_for_check.number_of_stocks
price_of_portfolio = df_for_check['total_price'].sum()
df_for_check['share_in_portfolio'] = df_for_check['total_price']/price_of_portfolio
df_for_check['diff_in_shares'] = np.abs(df_for_check.share_in_index-df_for_check['share_in_portfolio'])

In [177]:
df_for_check

,ticket_name,price_for_one_stock,share_in_index,number_of_stocks,total_price,share_in_portfolio,diff_in_shares
0,NVTK,1091.80,0.0348,59.0,64416.20,0.064416,0.029616
1,NLMK,176.92,0.0156,93.0,16453.56,0.016454,0.000854
2,AFKS,2375.00,0.0081,7.0,16625.00,0.016625,0.008525
3,RUAL,422.90,0.0141,36.0,15224.40,0.015224,0.001124
4,TCSG,2968.50,0.0340,13.0,38590.50,0.038590,0.004590
5,GMKN,1299.20,0.0458,36.0,46771.20,0.046771,0.000971
6,ALRS,708.30,0.0125,58.0,41081.40,0.041081,0.028581
7,ROSN,565.25,0.0225,44.0,24871.00,0.024871,0.002371
8,MAGN,552.40,0.0126,34.0,18781.60,0.018782,0.006182
9,MSNG,3140.00,0.0035,3.0,9420.00,0.009420,0.005920
10,SMLT,3045.00,0.0030,1.0,3045.00,0.003045,0.000045
11,SNGSP,6718.00,0.0318,5.0,33590.00,0.033590,0.001790
12,PIKK,899.90,0.0184,34.0,30596.60,0.030597,0.012197
13,PLZL,12098.00,0.0249,2.0,24196.00,0.024196,0.000704
14,SNGS,2948.00,0.0304,13.0,38324.00,0.038324,0.007924
15,POSI,3063.00,0.0074,3.0,9189.00,0.009189,0.001789
16,FLOT,1212.50,0.0057,10.0,12125.00,0.012125,0.006425
17,CBOM,769.00,0.0066,25.0,19225.00,0.019225,0.012625
18,MTSS,2909.00,0.0123,7.0,20363.00,0.020363,0.008063
19,AFLT,627.20,0.0088,34.0,21324.80,0.021325,0.012525
20,MTLR,218.20,0.0042,87.0,18983.40,0.018983,0.014783
21,CHMF,1549.80,0.0212,16.0,24796.80,0.024797,0.003597
22,IRAO,3930.00,0.0137,4.0,15720.00,0.015720,0.002020
23,MGNT,6369.00,0.0128,2.0,12738.00,0.012738,0.000062
24,TATN,699.90,0.0667,97.0,67890.30,0.067890,0.001190
25,RTKM,910.00,0.0107,14.0,12740.00,0.012740,0.002040
26,TRNFP,1621.50,0.0062,5.0,8107.50,0.008107,0.001907
27,PHOR,5869.00,0.0070,2.0,11738.00,0.011738,0.004738
28,MOEX,2291.00,0.0119,7.0,16037.00,0.016037,0.004137
29,SBER,3271.50,0.1297,43.0,140674.50,0.140674,0.010974
30,BSPB,3859.70,0.0044,2.0,7719.40,0.007719,0.003319
31,LKOH,7211.00,0.1483,22.0,158642.00,0.158642,0.010342

In [178]:
df_for_check.total_price.sum()

1000000.16