In [1]:
import numpy as np
import math
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd

rc = {"font.family" : "serif", 
      "mathtext.fontset" : "stix"}
plt.rcParams.update(rc)
plt.rcParams["font.serif"] = ["Times New Roman"] + plt.rcParams["font.serif"]
matplotlib.rcParams.update({'font.size': 14})

In [26]:
df = pd.read_excel("D:for_optimisation.xlsx")
df.head()

,ticket_name,number_of_stocks,price_for_one_stock,total_price,share_in_portfolio,share_in_index,diff_in_shares
0,NVTK,23,1091.80,25.1114,0.034817,0.0348,0.000017
1,NLMK,70,176.92,12.3844,0.017171,0.0156,0.001571
2,AFKS,3,2375.00,7.1250,0.009879,0.0081,0.001779
3,RUAL,29,422.90,12.2641,0.017004,0.0141,0.002904
4,TCSG,9,2968.50,26.7165,0.037042,0.0340,0.003042

In [38]:
price_for_stock = df.price_for_one_stock
tikets = df.ticket_name
share_in_imoex = df.share_in_index

In [28]:
df.number_of_stocks.min(), df.number_of_stocks.max()

(2, 70)

In [29]:
df.shape

(32, 7)

In [32]:
a = np.array([1, 1.2, 1.56])
a

array([1.  , 1.2 , 1.56])

In [117]:
def minimize_foo(x):
    x = np.round(x, 0)
    df_for_opt = pd.DataFrame({
        'ticket_name':tikets,
        'price_for_one_stock':price_for_stock,
        'share_in_index':share_in_imoex,
        'number_of_stocks':x
    })
    df_for_opt['total_price'] = df_for_opt.price_for_one_stock * df_for_opt.number_of_stocks
    price_of_portfolio = df_for_opt['total_price'].sum()
    df_for_opt['share_in_portfolio'] = df_for_opt['total_price']/price_of_portfolio
    df_for_opt['diff_in_shares'] = np.abs(df_for_opt.share_in_index-df_for_opt['share_in_portfolio'])
    crit = df_for_opt['diff_in_shares'].sum() + (price_of_portfolio-670_000)/670_000
    return crit

max_of_stocks = 300
bounds = [(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),
         (1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks),(1,max_of_stocks)]

In [118]:
from scipy.optimize import differential_evolution

In [ ]:
result = differential_evolution(minimize_foo, bounds)

In [ ]:
result

In [ ]:
res_arr = np.round(result.x,0)
res_arr

In [ ]:
df_for_check = pd.DataFrame({
        'ticket_name':tikets,
        'price_for_one_stock':price_for_stock,
        'share_in_index':share_in_imoex,
        'number_of_stocks':res_arr
    })

In [ ]:
df_for_check['total_price'] = df_for_check.price_for_one_stock * df_for_check.number_of_stocks
price_of_portfolio = df_for_check['total_price'].sum()
df_for_check['share_in_portfolio'] = df_for_check['total_price']/price_of_portfolio
df_for_check['diff_in_shares'] = np.abs(df_for_check.share_in_index-df_for_check['share_in_portfolio'])

In [ ]:
df_for_check

In [ ]:
df_for_check.total_price.sum()